In [3]:
#importing all libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe") 
time.sleep(4)

url = "https://www.flipkart.com/"
driver.get(url)#entering into flipkart.com in googlechrome
time.sleep(3)

In [5]:
close=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close.click()#close login

In [6]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("laptop")#enter laptop in search bar
time.sleep(2)

In [7]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")#searching laptop in the site
search.click()

In [8]:
urls=[]#appending urls of product
for i in range(10):
    for j in driver.find_elements_by_xpath("//div[@class='_2kHMtA']/a"):
        urls.append(j.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [9]:
ratings=[]
full_reviews=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # clcik on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            full_reviews.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            ratings.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                full_reviews.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                ratings.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(1)
            except:
                break
    except:
        print("no reviews")

no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews

WebDriverException: Message: unknown error: net::ERR_CONNECTION_TIMED_OUT
  (Session info: chrome=92.0.4515.107)

In [13]:
df=pd.DataFrame({})#making dataframe
df['Full_Reviews']=full_reviews
df['Ratings']=ratings
df

                                           Full_Reviews Ratings
0     Everything works with very fast speed due to i...       5
1     Good morning.\nIt is a nice product.\nI used i...       5
2     Performance of the laptop is good. Login scree...       3
3     Flipkart just took 2 days to deliver the produ...       5
4     Got it 40k,and at that particular price it's j...       5
...                                                 ...     ...
1785  Been using since last one month. Temps used to...       5
1786  Good laptop. I was saving money to build gamin...       4
1787  Used it almost a month now. It's works so smoo...       5
1788  Got it today.... Display is smooth and Good bu...       5
1789  Best laptop at this price range with all the p...       5

[1790 rows x 2 columns]

In [14]:
df.to_csv("rev.csv")#store it in csv file in this directory

In [20]:
driver.find_element_by_xpath("//input[@class='_3704LK']").clear()
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("phones")#enter phone in search bar
time.sleep(5)
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()#search for phone

In [22]:
urls=[]
for i in range(3):
    for j in driver.find_elements_by_xpath("//div[@class='_2kHMtA']/a"):
        urls.append(j.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [13]:
ratings=[]
full_reviews=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # clcik on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            full_reviews.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            ratings.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                full_reviews.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                ratings.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(1)
            except:
                break
    except:
        print("no reviews")

no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews

In [24]:
df1=pd.DataFrame({})
df1['Full_Reviews']=full_reviews
df1['Ratings']=ratings
df1

                                          Full_Reviews Ratings
0    Good handy phone with decent performance. Good...       4
1    This is such a budget friendly product.It also...       5
2    Good product in perfect value of money. I thou...       4
3    Let me get straight to the point.\nFrom day 1 ...       1
4    Cammera is very good and battery is good\nPhon...       5
..                                                 ...     ...
897  Mobile is good... I bought the yellow one... F...       5
898  1. Phone is perfect but Camera it's not good.\...       4
899  Thank You Poco for manufacturing this Phone......       5
900  1) Delivery on time, Properly packed with bill...       5
901  I am writing this review after using this mobi...       5

[902 rows x 2 columns]

In [25]:
df1.to_csv("re.csv")

In [41]:
driver.find_element_by_xpath("//input[@class='_3704LK']").clear()

In [42]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("headphone")
time.sleep(5)
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [43]:
urls=[]
for l in range(2):
    for i in driver.find_elements_by_xpath("//div[@class='_4ddWXP']/a"):
        urls.append(i.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

    
ratings=[]
full_reviews=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # clcik on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            full_reviews.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            ratings.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                full_reviews.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                ratings.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(2)
            except:
                break
    except:
        print("no reviews")

In [46]:
df2=pd.DataFrame({})
df2['Full_Reviews']=full_reviews
df2['Ratings']=ratings
df2

                                           Full_Reviews Ratings
0     Not expected this type of worst product from B...       1
1     This is a good pseoduct bass is super it is co...       5
2     This is a good product. I bought it on launchi...       5
3     This is beautiful product. Amazing sound quali...       5
4     good design and build quality...Case is just f...       5
...                                                 ...     ...
7936                                           Loved it       4
7937         Bass and sound quality Forfourments superb       5
7938                                     Value of money       5
7939  Oct 8 2019 I bought it\nYesterday it stopped w...       5
7940                                       Best product       4

[7941 rows x 2 columns]

In [47]:
df2.to_csv("r.csv")

In [51]:
l=pd.read_csv("rev.csv")
m=pd.read_csv("re.csv")
n=pd.read_csv("r.csv")

In [57]:
df=pd.concat([l,m,n],axis=0).reset_index()
df=df.drop(['index','Unnamed: 0'],axis=1)
df.to_csv("ra.csv")

In [18]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)
driver.get('https://www.flipkart.com')
time.sleep(3)

In [32]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("Router")
time.sleep(2)

In [33]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [37]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='_4ddWXP']/a[2]"):
    urls.append(i.get_attribute("href"))

In [40]:
ratings=[]
full_reviews=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # clcik on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            full_reviews.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            ratings.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                full_reviews.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                ratings.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(2)
            except:
                break
    except:
        print("no reviews")

no reviews
no reviews
no reviews
no reviews
no reviews
no reviews

In [43]:
df3=pd.DataFrame({})#making dataframe
df3['Full_Reviews']=full_reviews
df3['Ratings']=ratings
df3

                                           Full_Reviews Ratings
0     Best home router in this price point. signal r...       5
1     Honest review\n1. Flipkart service great as al...       4
2     Using continuously from 45 days, no network dr...       5
3     I don't know what people are liking about this...       1
4     Hi Everyone,\n\nSo let's talk about D-Link 819...       1
...                                                 ...     ...
1630  Average looking , ADSL2+ modem with basic feat...       4
1631  The good part is, easy to configure and consis...       2
1632  Went through multiple sites and stores before ...       5
1633  Good product for home usage. Easy to configure...       4
1634  Well, used this product before (bought from so...       4

[1635 rows x 2 columns]

In [46]:
df=pd.read_csv("ra.csv")
df=df.drop('Unnamed: 0',axis=1)
df=pd.concat([df,df3],axis=0).reset_index()
df=df.drop('index',axis=1)
df

                                            Full_Reviews Ratings
0      Everything works with very fast speed due to i...       5
1      Good morning.\nIt is a nice product.\nI used i...       5
2      Performance of the laptop is good. Login scree...       3
3      Flipkart just took 2 days to deliver the produ...       5
4      Got it 40k,and at that particular price it's j...       5
...                                                  ...     ...
12263  Average looking , ADSL2+ modem with basic feat...       4
12264  The good part is, easy to configure and consis...       2
12265  Went through multiple sites and stores before ...       5
12266  Good product for home usage. Easy to configure...       4
12267  Well, used this product before (bought from so...       4

[12268 rows x 2 columns]

In [26]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("Smart watches")
time.sleep(2)

In [27]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [28]:
urls=[]
for i in range(10):
    for j in driver.find_elements_by_xpath("//div[@class='_2kHMtA']/a[1]"):
        urls.append(j.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [36]:
ratings=[]
full_reviews=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # clcik on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            full_reviews.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            ratings.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                full_reviews.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                ratings.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(2)
            except:
                break
    except:
        print("no reviews")

no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews

In [40]:
df4=pd.DataFrame({})#making dataframe
df4['Full_Reviews']=full_reviews
df4['Ratings']=ratings

In [21]:
df4

                                           Full_Reviews Ratings
0                      It is good but not that I wished       4
1     Response is good but, battery backup and charg...       3
2                                                  nice       5
3                                    Lots of thanks....       5
4                                                  Goob       5
...                                                 ...     ...
1674                                     Very good item       4
1675                                         Very happy       5
1676                                       Nice product       5
1677                                       Bakwas watch       1
1678                                        bad product       1

[1679 rows x 2 columns]

In [65]:
df=pd.concat([df,df4],axis=0).reset_index()
df=df.drop('index',axis=1)
df

                                            Full_Reviews Ratings
0      Everything works with very fast speed due to i...       5
1      Good morning.\nIt is a nice product.\nI used i...       5
2      Performance of the laptop is good. Login scree...       3
3      Flipkart just took 2 days to deliver the produ...       5
4      Got it 40k,and at that particular price it's j...       5
...                                                  ...     ...
13659                                           nice one       4
13660                                              good.       5
13661                                               Nice       3
13662                      amazing product from Flipkart       4
13663                                           Not good       1

[13664 rows x 2 columns]

In [77]:
df.to_csv("h.csv")

In [67]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("Printers")
time.sleep(2)#add printer in search bar

In [68]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()#search for printers

In [74]:
urls=[]
for i in range(2):
    for j in driver.find_elements_by_xpath("//div[@class='_4ddWXP']/a[2]"):
        urls.append(j.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [78]:
ratings=[]
full_reviews=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # clcik on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            full_reviews.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            ratings.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                full_reviews.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                ratings.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(2)
            except:
                break
    except:
        print("no reviews")

no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews

In [81]:
df5=pd.DataFrame({})#make dataframe
df5['Full_Reviews']=full_reviews
df5['Ratings']=ratings
df5

                                           Full_Reviews Ratings
0                                             Excellent       5
1     dual side printing not available, remaining al...       4
2                                       Awesome printer       5
3                                                    Ok       5
4                        Nice product for delivery leat       4
...                                                 ...     ...
1096                                    Printer is good       5
1097                            Very nice print quality       5
1098                                  Excellent product       5
1099                                                 ok       5
1100                                    awesome product       5

[1101 rows x 2 columns]

In [82]:
df=pd.concat([df,df5],axis=0).reset_index()
df=df.drop('index',axis=1)
df

                                            Full_Reviews Ratings
0      Everything works with very fast speed due to i...       5
1      Good morning.\nIt is a nice product.\nI used i...       5
2      Performance of the laptop is good. Login scree...       3
3      Flipkart just took 2 days to deliver the produ...       5
4      Got it 40k,and at that particular price it's j...       5
...                                                  ...     ...
14760                                    Printer is good       5
14761                            Very nice print quality       5
14762                                  Excellent product       5
14763                                                 ok       5
14764                                    awesome product       5

[14765 rows x 2 columns]

In [85]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("Professional camera")
time.sleep(2)

In [86]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [87]:
urls=[]#appending urls of product
for i in range(10):
    for j in driver.find_elements_by_xpath("//div[@class='_4ddWXP']/a[2]"):
        urls.append(j.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [94]:
ratings=[]
full_reviews=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # clcik on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            full_reviews.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            ratings.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(3)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                full_reviews.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                ratings.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(3)
            except:
                break
    except:
        print("no reviews")

no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews
no reviews

In [31]:
df6=pd.DataFrame({})#making dataframe
df6['Full_Reviews']=full_reviews
df6['Ratings']=ratings

In [44]:
df=pd.concat([df,df6],axis=0).reset_index()#to make indexing
df=df.drop('index',axis=1)#drop index column

In [45]:
df

                                            Full_Reviews Ratings
0      Everything works with very fast speed due to i...       5
1      Good morning.\nIt is a nice product.\nI used i...       5
2      Performance of the laptop is good. Login scree...       3
3      Flipkart just took 2 days to deliver the produ...       5
4      Got it 40k,and at that particular price it's j...       5
...                                                  ...     ...
19183                                          Very poor       1
19184  It was nice to wear also the feature were amaz...       4
19185                                       Good prodect       3
19186  It was nice to wear also the feature were amaz...       4
19187                                       Good prodect       3

[19188 rows x 2 columns]

In [46]:
df.to_csv("flipkartreviews.csv")#save dataframe in csv for future use